<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="HolidayConfig" type="iD3iHoliday.WebService.Client.Configuration.HolidayConfig, iD3iHoliday.WebService.Client"/>
  </configSections>
  <HolidayConfig BaseApiUrl="http://holiday.id3i.dom/"/>
</configuration>