<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="HolidayConfig" type="ShaNetHoliday.WebService.Client.Configuration.HolidayConfig, ShaNetHoliday.WebService.Client"/>
  </configSections>
  <HolidayConfig BaseApiUrl="http://holiday.iD3i.dom/"/>
</configuration>